@import "../../../node_modules/bootstrap/scss/bootstrap.scss";

$letterColor: white;
$backColor: #fc0;

.maincolor {
    color: $letterColor;
}

.container{
   background-color: $backColor;   
   text-align:center;
   margin: 0 auto;
   width: 400px;
   height: 460px;
   padding: 20px;
}

textarea{
  margin: 0 auto;
  width: 100%;
}


.divPipe{ 
  float: left;
}
